# ======================================================================================
#
# ░▒▓███████▓▒░░▒▓████████▓▒░▒▓███████▓▒░       ░▒▓███████▓▒░ ░▒▓██████▓▒░▒▓████████▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓███████▓▒░░▒▓██████▓▒░ ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓███████▓▒░░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓███████▓▒░ ░▒▓██████▓▒░  ░▒▓█▓▒░
#
# ======================================================================================

Checks: >
  -*,
  bugprone-*,
  cert-*,
  -cert-dcl21-cpp,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  google-*,
  -google-readability-todo,
  -google-readability-braces-around-statements,
  hicpp-*,
  -hicpp-braces-around-statements,
  -hicpp-uppercase-literal-suffix,
  llvm-namespace-comment,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix

CheckOptions:
- key: bugprone-misplaced-widening-cast.CheckImplicitCasts
  value: true
- key: bugprone-narrowing-conversions.WarnWithinTemplateInstantiation
  value: true
- key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
  value: true
- key: bugprone-suspicious-enum-usage.StrictMode
  value: 1
- key: bugprone-suspicious-string-compare.WarnOnLogicalNotComparison
  value: true
- key: bugprone-unhandled-self-assignment.WarnOnlyIfThisHasSuspiciousField
  value: false
- key: cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove
  value: true
- key: cppcoreguidelines-rvalue-reference-param-not-moved.IgnoreUnnamedParams
  value: true
- key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
  value: true
- key: modernize-deprecated-headers.CheckHeaderFile
  value: true
- key: performance-inefficient-string-concatenation.StrictMode
  value: true
- key: readability-identifier-length.MinimumLoopCounterNameLength
  value: 1
- key: readability-identifier-length.IgnoredVariableNames
  value: it
- key: readability-identifier-length.IgnoredParameterNames
  value: it
- key: readability-inconsistent-declaration-parameter-name.Strict
  value: true
- key: readability-redundant-access-specifiers.CheckFirstDeclaration
  value: true
- key: readability-simplify-boolean-expr.ChainedConditionalReturn
  value: true
- key: readability-simplify-boolean-expr.ChainedConditionalAssignment
  value: true
- key: readability-uniqueptr-delete-release.PreferResetCall
  value: true

FormatStyle: file
