# ======================================================================================
#
# libchess - a chess engine by Ben Vining
#
# ======================================================================================

Style:
  FullyQualifiedNamespaces: [ std ]

Diagnostics:
  ClangTidy:
    FastCheckFilter: Loose
  MissingIncludes: Strict
