#!/usr/bin/env bash

# ======================================================================================
#
# ░▒▓███████▓▒░░▒▓████████▓▒░▒▓███████▓▒░       ░▒▓███████▓▒░ ░▒▓██████▓▒░▒▓████████▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓███████▓▒░░▒▓██████▓▒░ ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ ░▒▓█▓▒░
# ░▒▓███████▓▒░░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓███████▓▒░ ░▒▓██████▓▒░  ░▒▓█▓▒░
#
# ======================================================================================

# configuration file for direnv
# see https://direnv.net/
#
# This tool sets environment variables when working in or below this directory.
# This file loads .envrc.user (direnv functions allowed) and .env (exports only)
# if they exist in this directory. This repo git-ignores these files, they're meant
# for local developer configuration.

direnv_version 2.32.0

strict_env

if [ "$(uname)" == "Darwin" ]; then
    CMAKE_APPLE_SILICON_PROCESSOR="$(uname -m)"
    export CMAKE_APPLE_SILICON_PROCESSOR
fi

if has nproc; then
    CMAKE_BUILD_PARALLEL_LEVEL=$(nproc --all)
elif has getconf; then
    CMAKE_BUILD_PARALLEL_LEVEL=$(getconf _NPROCESSORS_ONLN)
elif [ "$(uname)" == "Darwin" ]; then
    CMAKE_BUILD_PARALLEL_LEVEL=$(sysctl -n hw.logicalcpu_max)
else
    # shellcheck disable=SC2126
    CMAKE_BUILD_PARALLEL_LEVEL=$(lscpu -p | grep -E -v '^#' | wc -l)
fi

export CMAKE_BUILD_PARALLEL_LEVEL

CTEST_PARALLEL_LEVEL=$CMAKE_BUILD_PARALLEL_LEVEL
export CTEST_PARALLEL_LEVEL

dotenv_if_exists .env
source_env_if_exists .envrc.user
