# ======================================================================================
#
# libchess - a chess engine by Ben Vining
#
# ======================================================================================

* eol=lf
