# ======================================================================================
#
# libchess - a chess engine by Ben Vining
#
# ======================================================================================

Checks: -readability-function-cognitive-complexity
